{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Appender</title>
    <link rel="stylesheet" href="{% static 'design.css' %}">
</head>
<body>
                    <form method = "POST" action = "{% url 'image:upload_images' %}" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        <p class="form-title">Dimension Appender</p>
                        <p class="subtitle">Select multiple jpeg images</p>
                        <div class="input-container">
                            <input type="file" class="file" id="images" name="images" multiple accept=".jpg, .jpeg" required>
                        </div>
                        <button type="submit" class="submit">Upload Files</button>
                    </form>
                    <div id="response-area" class="subtitle">
                        {% block response_content %}
                        <p>{{ response_message }}</p>
                        {% endblock %}
                    </div>
            </div>
        </div>
    </div>
</body>
</html>