<!-- {% load custom_filters %} -->
<!DOCTYPE html>
<html>
<head>
    <title>Upload Successful</title>
</head>
<body>
    <h2>Image List</h2>
    <form>
        <ul>
        {% for img in img_list %}
        {% csrf_token %}
            <li>
                <a href="{{ img.image.url }}">{{ img.image.name|filename_mask }}</a>
                <button type="submit" value="{{ image.image.id }}" ><a href="{% url 'image:download' img.pk %}">Download</button>
            </li>
        {% endfor %}
        </ul>
    </form>
    <button type="reset" value="reset" ><a href="{% url 'image:delete' %}">Upload Another</a></button>

    <p>{{ unconverted }} ignored file(s). Image(s) source not came from editing software. </p>
    <div id="response-area">
        <!-- This is where the HttpResponse will be displayed -->
        {% block response_content %}
            <p>{{ response_message }}</p>
            <!-- Initially empty or can have default content -->
        {% endblock %}
    </div>
</body>
</html>
