{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Successful</title>
    <link rel="stylesheet" href="{% static 'design.css' %}">
<body>
    <form class="form">
        <div class="border-bottom">
            <p class="upload-form-title">Image Files</p>
        </div>
        <table class="table">
            <tbody>
                {% for img in img_list %}
                {% csrf_token %}
                    <tr>
                        <th><a href="{{ img.image.url }}" class="a-list">{{ img.image.name|filename_mask }}</a></th>
                        <th><span class="division"></span></th>
                        <th><button type="submit" value="{{ image.image.id }}" class="upload-button"><a class="text-decoration-none" href="{% url 'image:download' img.pk %}">Download</a></button></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
        <button type="reset" value="reset" class="upload-submit" ><a class="text-light a-button" href="{% url 'image:delete' %}">Upload Another</a></button>
    </form>
    {% if unconverted != 0 %}
        <p>{{ unconverted }} ignored file(s). Image(s) source not came from editing software. </p>
    {% endif %}
    <div id="response-area">
        {% block response_content %}
            <p>{{ response_message }}</p>
        {% endblock %}
    </div>
</body>
</html>
